@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, sans-serif;
  --font-mono: Menlo, Monaco, Consolas, Courier New, monospace;
  --font-serif: Georgia, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9607 0.0017 247.8395);
  --foreground: oklch(0.2136 0.0061 271.1241);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2136 0.0061 271.1241);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2136 0.0061 271.1241);
  --primary: oklch(0.7064 0.1461 233.0983);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9757 0.0017 247.8391);
  --secondary-foreground: oklch(0.2136 0.0061 271.1241);
  --muted: oklch(0.6811 0.0118 256.7151);
  --muted-foreground: oklch(0.5083 0.0127 256.7370);
  --accent: oklch(0.9607 0.0017 247.8395);
  --accent-foreground: oklch(0.7064 0.1461 233.0983);
  --destructive: oklch(0.7257 0.1707 4.4542);
  --border: oklch(0.9209 0.0035 247.8607);
  --input: oklch(0.9607 0.0017 247.8395);
  --ring: oklch(0.7064 0.1461 233.0983);
  --chart-1: oklch(0.7064 0.1461 233.0983);
  --chart-2: oklch(0.7257 0.1707 4.4542);
  --chart-3: oklch(0.7606 0.1743 60.2923);
  --chart-4: oklch(0.7171 0.1462 167.4536);
  --chart-5: oklch(0.6950 0.1988 13.8682);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2136 0.0061 271.1241);
  --sidebar-primary: oklch(0.7064 0.1461 233.0983);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9607 0.0017 247.8395);
  --sidebar-accent-foreground: oklch(0.7064 0.1461 233.0983);
  --sidebar-border: oklch(0.9209 0.0035 247.8607);
  --sidebar-ring: oklch(0.7064 0.1461 233.0983);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, Monaco, Consolas, Courier New, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0px;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0px;
}

.dark {
  --background: oklch(0.1776 0 0);
  --foreground: oklch(0.9097 0 0);
  --card: oklch(0.2350 0 0);
  --card-foreground: oklch(0.9097 0 0);
  --popover: oklch(0.2350 0 0);
  --popover-foreground: oklch(0.9097 0 0);
  --primary: oklch(0.7064 0.1461 233.0983);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2850 0 0);
  --secondary-foreground: oklch(0.9097 0 0);
  --muted: oklch(0.3485 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.2850 0 0);
  --accent-foreground: oklch(0.7064 0.1461 233.0983);
  --destructive: oklch(0.7257 0.1707 4.4542);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.2850 0 0);
  --ring: oklch(0.7064 0.1461 233.0983);
  --chart-1: oklch(0.7064 0.1461 233.0983);
  --chart-2: oklch(0.7257 0.1707 4.4542);
  --chart-3: oklch(0.7606 0.1743 60.2923);
  --chart-4: oklch(0.7171 0.1462 167.4536);
  --chart-5: oklch(0.6950 0.1988 13.8682);
  --sidebar: oklch(0.2090 0 0);
  --sidebar-foreground: oklch(0.9097 0 0);
  --sidebar-primary: oklch(0.7064 0.1461 233.0983);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2850 0 0);
  --sidebar-accent-foreground: oklch(0.7064 0.1461 233.0983);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.7064 0.1461 233.0983);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, Monaco, Consolas, Courier New, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0px;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}